@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 110.08deg 32.24% 55.84%;
    --destructive: 0deg 59.23% 57.51%;
    --accent: 30.98deg 78.93% 51.41%;
    --muted: 229.15deg 2.58% 58.78%;
  }
}

@layer components {

  *:focus, *:hover {
    outline: none !important; /* no outline - for most browsers */
    box-shadow: none !important; /* no box shadow - for some browsers or if you are using Bootstrap */
    -webkit-tap-highlight-color: transparent !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }

  button {
    color: white;
    text-transform: uppercase;
  }

  textarea {
    font-family: 'Courier New', monospace;
    color: white;
    padding: 0.5rem;
  }

  h1 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
  }

  h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
  }

  input {
    background-color: white;
    border: 1px solid #d7d4d4ba;
    margin: 0.5rem;
    padding: 5px;
    border-radius: 5px;
  }

  input:focus {
    outline: 1px solid #cbcbcb99;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

dialog::backdrop {
  background: #2e2a2a;
  opacity: 0.75;
}

.blur {
  filter: blur(2px);
}